<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Nest Dashboard</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta property="og:title" content="" />
    <meta property="og:type" content="" />
    <meta property="og:url" content="" />
    <meta property="og:image" content="" />
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="assets/imgs/theme/favicon.svg" />
    <!-- Template CSS -->
    <link href="assets/css/main.css?v=1.1" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>




</head>

<body>
    <div class="screen-overlay"></div>
    <aside class="navbar-aside" id="offcanvas_aside">
        <div class="aside-top">
            <a href="index.html" class="brand-wrap">
                <img src="assets/imgs/theme/logo.svg" class="logo" alt="Nest Dashboard" />
            </a>
            <div>
                <button class="btn btn-icon btn-aside-minimize"><i
                        class="text-muted material-icons md-menu_open"></i></button>
            </div>
        </div>
        <nav>
            <ul class="menu-aside">
                <li class="menu-item">
                    <a class="menu-link" href="/admin/dashboad">
                        <i class="icon material-icons md-home"></i>
                        <span class="text">Dashboard</span>
                    </a>
                </li>
                <li class="menu-item ">
                    <a class="menu-link" href="/admin/product">
                        <i class="icon material-icons md-shopping_bag"></i>
                        <span class="text">Products</span>
                    </a>

                </li>
                <li class="menu-item ">
                    <a class="menu-link" href="/admin/orders">
                        <i class="icon material-icons md-shopping_cart"></i>
                        <span class="text">Orders</span>
                    </a>

                </li>
                <li class="menu-item ">
                    <a class="menu-link" href="/admin/costomer">
                        <i class="icon material-icons md-store"></i>
                        <span class="text">Customers</span>
                    </a>

                </li>
                <li class="menu-item ">
                    <a class="menu-link" href="/admin/category">
                        <i class="icon material-icons md-add_box"></i>
                        <span class="text">Category</span>
                    </a>

                </li>

                <li class="menu-item has-submenu  active">
                    <a class="menu-link" href="/admin/offer">
                        <i class="icon material-icons md-person"></i>
                        <span class="text">Offer</span>
                    </a>

                </li>





                <li class="menu-item ">
                    <a class="menu-link" id="signOutButton" href="#">
                        <i class="icon material-icons md-monetization_on"></i>
                        <span class="text">sign out</span>
                    </a>

                </li>
                <!-- <li class="menu-item has-submenu">
                        <a class="menu-link" href="#">
                            <i class="icon material-icons md-person"></i>
                            <span class="text">Account</span>
                        </a>
                         
                    </li>
                    <li class="menu-item">
                        <a class="menu-link" href="page-reviews.html">
                            <i class="icon material-icons md-comment"></i>
                            <span class="text">Reviews</span>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a class="menu-link" href="page-brands.html"> <i class="icon material-icons md-stars"></i> <span class="text">Brands</span> </a>
                    </li>
                    <li class="menu-item">
                        <a class="menu-link" disabled href="#">
                            <i class="icon material-icons md-pie_chart"></i>
                            <span class="text">Statistics</span>
                        </a>
                    </li>
                </ul>
                <hr />
                <ul class="menu-aside">
                    <li class="menu-item has-submenu">
                        <a class="menu-link" href="#">
                            <i class="icon material-icons md-settings"></i>
                            <span class="text">Settings</span>
                        </a>
                        <div class="submenu">
                            <a href="page-settings-1.html">Setting sample 1</a>
                            <a href="page-settings-2.html">Setting sample 2</a>
                        </div>
                    </li>
                    <li class="menu-item">
                        <a class="menu-link" href="page-blank.html">
                            <i class="icon material-icons md-local_offer"></i>
                            <span class="text"> Starter page </span>
                        </a>
                    </li> -->
            </ul>
            <br />
            <br />
        </nav>
    </aside>
    <main class="main-wrap">
        <header class="main-header navbar">
            <div class="col-search">
                <form class="searchform">
                    <div class="input-group">
                        <input list="search_terms" type="text" class="form-control" placeholder="Search term" />
                        <button class="btn btn-light bg" type="button"><i class="material-icons md-search"></i></button>
                    </div>
                    <datalist id="search_terms">
                        <option value="Products"></option>
                        <option value="New orders"></option>
                        <option value="Apple iphone"></option>
                        <option value="Ahmed Hassan"></option>
                    </datalist>
                </form>
            </div>
            <div class="col-nav">
                <button class="btn btn-icon btn-mobile me-auto" data-trigger="#offcanvas_aside"><i
                        class="material-icons md-apps"></i></button>
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link btn-icon" href="#">
                            <i class="material-icons md-notifications animation-shake"></i>
                            <span class="badge rounded-pill">3</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn-icon darkmode" href="#"> <i class="material-icons md-nights_stay"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="requestfullscreen nav-link btn-icon"><i
                                class="material-icons md-cast"></i></a>
                    </li>
                    <li class="dropdown nav-item">
                        <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownLanguage"
                            aria-expanded="false"><i class="material-icons md-public"></i></a>
                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownLanguage">
                            <a class="dropdown-item text-brand" href="#"><img src="assets/imgs/theme/flag-us.png"
                                    alt="English" />English</a>
                            <a class="dropdown-item" href="#"><img src="assets/imgs/theme/flag-fr.png"
                                    alt="Français" />Français</a>
                            <a class="dropdown-item" href="#"><img src="assets/imgs/theme/flag-jp.png"
                                    alt="Français" />日本語</a>
                            <a class="dropdown-item" href="#"><img src="assets/imgs/theme/flag-cn.png"
                                    alt="Français" />中国人</a>
                        </div>
                    </li>
                    <li class="dropdown nav-item">
                        <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownAccount"
                            aria-expanded="false"> <img class="img-xs rounded-circle"
                                src="assets/imgs/people/avatar-2.png" alt="User" /></a>
                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownAccount">
                            <a class="dropdown-item" href="#"><i class="material-icons md-perm_identity"></i>Edit
                                Profile</a>
                            <a class="dropdown-item" href="#"><i class="material-icons md-settings"></i>Account
                                Settings</a>
                            <a class="dropdown-item" href="#"><i
                                    class="material-icons md-account_balance_wallet"></i>Wallet</a>
                            <a class="dropdown-item" href="#"><i class="material-icons md-receipt"></i>Billing</a>
                            <a class="dropdown-item" href="#"><i class="material-icons md-help_outline"></i>Help
                                center</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item text-danger" href="#"><i
                                    class="material-icons md-exit_to_app"></i>Logout</a>
                        </div>
                    </li>
                </ul>
            </div>
        </header>
        <section class="content-main">
            <div class="content-header">
                <div>
                    <h2 class="content-title card-title">Offer List</h2>

                </div>
                <div>
                    <button class="btn border border-success" data-bs-toggle="modal" data-bs-target="#addOfferModal">Add
                        Offer</button>
                </div>
            </div>
            <div class="card mb-4">

                <!-- card-header end// -->
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr class="text-center">
                                    <!-- <th>Image</th> -->
                                    <th>Offe Name</th>
                                    <th scope="col">Description</th>
                                    <th scope="col">Offer Percentage</th>
                                    <!-- <th scope="col">Quantity</th> -->
                                    <th scope="col">Type</th>
                                    <!-- <th scope="col">Status</th>
                                    <th scope="col">More</th> -->

                                    <th scope="col" class="text-end">Actions</th>

                                </tr>
                            </thead>

                            <% if(offer.length>0){ %>
                                <% offer.forEach((offer,index)=>{ %>



                                    <tbody class="text-center">
                                        <tr id="offer-<%=index%>">

                                            <td><b>
                                                    <%=offer.offerName%>
                                                </b></td>
                                            <td><b>
                                                    <%=offer.description%>
                                                </b></td>
                                            <td>
                                                <%=offer.offPercentage%>
                                            </td>
                                            <td>
                                                <%=offer.type%>
                                            </td>

                                            <!-- <td>03.12.2020</td> -->
                                            <td class="text-end">
                                                <!-- <a href="#" class="btn btn-md rounded font-sm">Detail</a> -->

                                                <button type="button"
                                                    class="btn btn-light rounded btn-sm font-sm border"
                                                    data-bs-toggle="modal" data-bs-target="#addOfferModal">
                                                    Edit
                                                </button>
                                                <a href="#" onclick="deleteOffer('<%=offer._id%>','<%=index%>')"
                                                    class=" btn-sm font-sm border">Delete
                                                </a>

                                                <!-- dropdown //end -->
                                            </td>

                                            <% }) %>
                                                <% } %>
                                                    <style>
                                                        .small-button {
                                                            padding: 5px 10px;
                                                            font-size: 10px;
                                                            color: #fff;
                                                            background-color: #007bff;
                                                            border: none;
                                                            border-radius: 4px;
                                                            cursor: pointer;
                                                            transition: background-color 0.3s ease;
                                                        }

                                                        .small-button:hover {
                                                            background-color: #0056b3;
                                                        }

                                                        .modal-header {
                                                            background-color: #343a40;
                                                            color: #fff;
                                                            padding: 10px 15px;
                                                        }

                                                        .modal-title {
                                                            font-size: 1.2em;
                                                        }

                                                        .modal-body {
                                                            padding: 15px;
                                                            font-size: 0.9em;
                                                        }

                                                        .order-info,
                                                        .address-info {
                                                            display: flex;
                                                            flex-wrap: wrap;
                                                        }

                                                        .order-info div,
                                                        .address-info div {
                                                            flex: 1 1 50%;
                                                            margin-bottom: 10px;
                                                        }

                                                        .img-thumbnail {
                                                            max-width: 50px;
                                                        }

                                                        .modal-footer {
                                                            padding: 10px 15px;
                                                            display: flex;
                                                            justify-content: space-between;
                                                        }

                                                        #orderAddress {
                                                            margin-top: 15px;
                                                            font-size: 0.85em;
                                                        }

                                                        .modal-footer .btn {
                                                            padding: 5px 10px;
                                                            font-size: 0.85em;
                                                        }

                                                        .mt-3 {
                                                            margin-top: 10px;
                                                        }
                                                    </style>
                                                    </style>
                                        </tr>

                                    </tbody>

                        </table>
                    </div>
                    <!-- table-responsive //end -->
                </div>
                <!-- card-body end// -->
            </div>
            <!-- card end// -->

        </section>
        <!-- content-main end// -->
        <footer class="main-footer font-xs">
            <div class="row pb-30 pt-15">
                <div class="col-sm-6">

                    &copy; Nest - HTML Ecommerce Template .
                </div>
                <div class="col-sm-6">
                    <div class="text-sm-end">All rights reserved</div>
                </div>
            </div>
        </footer>
    </main>
    <script src="assets/js/vendors/jquery-3.6.0.min.js"></script>
    <script src="assets/js/vendors/bootstrap.bundle.min.js"></script>
    <script src="assets/js/vendors/select2.min.js"></script>
    <script src="assets/js/vendors/perfect-scrollbar.js"></script>
    <script src="assets/js/vendors/jquery.fullscreen.min.js"></script>
    <!-- Main Script -->
    <script src="assets/js/main.js?v=1.1" type="text/javascript"></script>


    <!-- MODAL FOR ADD OFFER -->
    <!-- Modal -->

    <style>
        .modal-error {
            color: #dc3545;
            font-size: 0.875rem;
        }
    </style>


   <!--  ADD OFFER -->
    <div class="modal fade" id="addOfferModal" tabindex="-1" aria-labelledby="addOfferModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header bg-success text-white">
                    <h5 class="modal-title" id="addOfferModalLabel">Add Offer</h5>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
                        aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="offerForm" novalidate>
                        <div class="mb-3">
                            <label for="offerName" class="form-label">Offer Name</label>
                            <input type="text" name="offername" class="form-control" id="offerName" required>
                            <div class="modal-error" id="offerNameError"></div>
                        </div>
                        <div class="mb-3">
                            <label for="offerDescription" class="form-label">Description</label>
                            <textarea class="form-control" name="description" id="offerDescription" rows="3"
                                required></textarea>
                            <div class="modal-error" id="offerDescriptionError"></div>
                        </div>
                        <div class="mb-3">
                            <label for="offerType" class="form-label">Type</label>
                            <select class="form-select" name="type" id="offerType" required>
                                <option value="">Select type</option>
                                <option value="product">Product</option>
                                <option value="category">Category</option>
                            </select>
                            <div class="modal-error" id="offerTypeError"></div>
                        </div>
                        <div class="mb-3">
                            <label for="offerPercentage" class="form-label">Offer Percentage</label>
                            <input type="number" name="percentage" class="form-control" id="offerPercentage" required
                                min="0" max="100">
                            <div class="modal-error" id="offerPercentageError"></div>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#offerForm').on('submit', function (event) {
                event.preventDefault();
                let isValid = true;

                // Validate Offer Name
                if (!$('#offerName').val().trim()) {
                    isValid = false;
                    $('#offerNameError').text('Offer Name is required.');
                } else {
                    $('#offerNameError').text('');
                }

                // Validate Description
                if (!$('#offerDescription').val().trim()) {
                    isValid = false;
                    $('#offerDescriptionError').text('Description is required.');
                } else {
                    $('#offerDescriptionError').text('');
                }

                // Validate Type
                if (!$('#offerType').val()) {
                    isValid = false;
                    $('#offerTypeError').text('Type is required.');
                } else {
                    $('#offerTypeError').text('');
                }

                // Validate Offer Percentage
                let percentage = $('#offerPercentage').val();
                if (!percentage || percentage < 0 || percentage > 100) {
                    isValid = false;
                    $('#offerPercentageError').text('Valid Offer Percentage is required (0-100).');
                } else {
                    $('#offerPercentageError').text('');
                }

                if (isValid) {
                    // Submit the form or perform any other desired action
                    const form = document.getElementById('offerForm')
                    const formData = new FormData(form);
                    console.log(formData)
                    let offerDataObj = {}
                    for (let [key, value] of formData.entries()) {
                        console.log(key, value)
                        offerDataObj[key] = value
                    }
                    console.log(offerDataObj)
                    axios.post('/admin/addOffer', offerDataObj)
                        .then(Response => {
                            if (Response.data.status) {
                                window.location.href = '/admin/offer'
                            }
                        })
                        .catch(error => {
                            console.log(error)
                        })
                    $('#addOfferModal').modal('hide');
                }
            });
        });
    </script>

    <script>

        function deleteOffer(offerId, index) {
            const eachOffer = document.getElementById(`offer-${index}`);
            console.log(eachOffer)
            axios.delete(`/admin/deleteOffer/${offerId}`)
                .then(Response => {
                    if(Response.data.delete){
                        eachOffer.remove()
                    }
                })
                .catch(error => {
                    console.log(error)
                })
        }

    </script>


    <!-- END MODAL FOR ADD OFFER -->





    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.view-details-btn').click(function () {
                var button = $(this);
                var imgSrc = button.data('img-src');
                var name = button.data('name');
                var cname = button.data('cname');
                var quantity = button.data('quantity');
                var price = button.data('price');
                var addressName = button.data('address-name');
                var addressCountry = button.data('address-country');
                var addressState = button.data('address-state');
                var addressCity = button.data('address-city');
                var addressStreet = button.data('address-street');
                var addressPinCode = button.data('address-pin-code');
                var addressPhone = button.data('address-phone');
                var addressEmail = button.data('address-email');
                var orderStatus = button.data('order-status');
                var orderDate = button.data('order-date');

                $('#productImage').attr('src', imgSrc);
                $('#productName').text(name);
                $('#customerName').text(cname);
                $('#productQuantity').text(quantity);
                $('#productPrice').text(price);
                $('#addressName').text(addressName);
                $('#addressCountry').text(addressCountry);
                $('#addressState').text(addressState);
                $('#addressCity').text(addressCity);
                $('#addressStreet').text(addressStreet);
                $('#addressPinCode').text(addressPinCode);
                $('#addressPhone').text(addressPhone);
                $('#addressEmail').text(addressEmail);
                $('#orderStatus').text(orderStatus);
                $('#orderDate').text(orderDate);
            });
        });
    </script>



</body>

</html>