<!DOCTYPE html>
<html lang="en">

<!-- molla/checkout.html  22 Nov 2019 09:55:06 GMT -->

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Molla - Bootstrap eCommerce Template</title>
    <meta name="keywords" content="HTML5 Template">
    <meta name="description" content="Molla - Bootstrap eCommerce Template">
    <meta name="author" content="p-themes">
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="assets/images/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/images/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/images/icons/favicon-16x16.png">
    <link rel="manifest" href="assets/images/icons/site.html">
    <link rel="mask-icon" href="assets/images/icons/safari-pinned-tab.svg" color="#666666">
    <link rel="shortcut icon" href="assets/images/icons/favicon.ico">
    <meta name="apple-mobile-web-app-title" content="Molla">
    <meta name="application-name" content="Molla">
    <meta name="msapplication-TileColor" content="#cc9966">
    <meta name="msapplication-config" content="assets/images/icons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <!-- Plugins CSS File -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <!-- Main CSS File -->
    <link rel="stylesheet" href="assets/css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
</head>


<style>
    #card {
        border-radius: 10px;
    }

    #card-body {
        padding: 1.5rem;
    }

    #card-title {
        font-size: 2.25rem;
        font-weight: bold;
    }

    .input-group .form-control {
        font-size: 2.25rem;
        font-weight: bold;
        padding-right: 3rem;

        background-color: #ffffff;

    }

    .btn-outline-secondary {
        border-radius: 0 0.25rem 0.25rem 0;
    }

    #card-text {
        font-size: 1rem;
        color: #343a40;
    }
</style>



<body>
    <div class="page-wrapper">
        <header class="header">
            <div class="header-top">
                <div class="container">
                    <div class="header-left">
                        <div class="header-dropdown">
                            <a href="#">Usd</a>
                            <div class="header-menu">
                                <ul>
                                    <li><a href="#">Eur</a></li>
                                    <li><a href="#">Usd</a></li>
                                </ul>
                            </div><!-- End .header-menu -->
                        </div><!-- End .header-dropdown -->

                        <div class="header-dropdown">
                            <a href="#">Eng</a>
                            <div class="header-menu">
                                <ul>
                                    <li><a href="#">English</a></li>
                                    <li><a href="#">French</a></li>
                                    <li><a href="#">Spanish</a></li>
                                </ul>
                            </div><!-- End .header-menu -->
                        </div><!-- End .header-dropdown -->
                    </div><!-- End .header-left -->

                    <div class="header-right">
                        <ul class="top-menu">
                            <li>
                                <a href="#">Links</a>
                                <ul>
                                    <li><a href="tel:#"><i class="icon-phone"></i>Call:+91 9400981702</a></li>
                                    <li><a href="/wishlist"><i class="icon-heart-o"></i>Wishlist</a></li>

                                </ul>
                            </li>
                        </ul><!-- End .top-menu -->
                    </div><!-- End .header-right -->
                </div><!-- End .container -->
            </div><!-- End .header-top -->

            <div class="header-middle sticky-header">
                <div class="container">
                    <div class="header-left">
                        <button class="mobile-menu-toggler">
                            <span class="sr-only">Toggle mobile menu</span>
                            <i class="icon-bars"></i>
                        </button>

                        <a href="index.html" class="logo">
                            <h3 class="nav-link  border border-dark  " style="color: #c96;">FurniFusion</h3>
                        </a>

                        <nav class="main-nav">
                            <ul class="menu sf-arrows">
                                <li class="megamenu-container ">
                                    <a href="/home" class="sf-with-ul">Home</a>


                                </li>
                                <li>
                                    <a href="/shop" class="sf-with-ul">Shop</a>


                                </li>
                                <li>
                                    <a href="#" class="sf-with-ul">Contact</a>


                                </li>
                                <li>
                                    <a href="#" class="sf-with-ul">About</a>


                                </li>


                            </ul><!-- End .menu -->
                        </nav><!-- End .main-nav -->
                    </div><!-- End .header-left -->

                    <div class="header-right">
                        <div class="header-search">
                            <a href="#" class="search-toggle" role="button" title="Search"><i
                                    class="icon-search"></i></a>
                            <form action="#" method="get">
                                <div class="header-search-wrapper">
                                    <label for="q" class="sr-only">Search</label>
                                    <input type="search" class="form-control" name="q" id="q" placeholder="Search in..."
                                        required>
                                </div><!-- End .header-search-wrapper -->
                            </form>
                        </div><!-- End .header-search -->
                        <div class="dropdown compare-dropdown">
                            <a href="#" class="dropdown-toggle" role="button" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false" data-display="static"
                                title="Compare Products" aria-label="Compare Products">
                                <i class="icon-random"></i>
                            </a>


                        </div><!-- End .compare-dropdown -->

                        <div class="dropdown cart-dropdown">
                            <a href="#" class="dropdown-toggle" role="button" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false" data-display="static">
                                <i class="icon-shopping-cart"></i>

                            </a>

                            <div class="dropdown-menu dropdown-menu-right">


                                <div class="dropdown-cart-action">
                                    <a href="/viewCart" class="btn btn-primary">View Cart</a>
                                    <a href="checkout.html" class="btn btn-outline-primary-2"><span>Checkout</span><i
                                            class="icon-long-arrow-right"></i></a>
                                </div><!-- End .dropdown-cart-total -->
                            </div><!-- End .dropdown-menu -->
                        </div><!-- End .cart-dropdown -->
                    </div><!-- End .header-right -->
                </div><!-- End .container -->
            </div><!-- End .header-middle -->
        </header><!-- End .header -->

        <main class="main">
            <div class="page-header text-center" style="background-image: url('assets/images/page-header-bg.jpg')">
                <div class="container">
                    <h1 class="page-title">Checkout</h1>
                </div><!-- End .container -->
            </div><!-- End .page-header -->
            <nav aria-label="breadcrumb" class="breadcrumb-nav">
                <div class="container">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                        <li class="breadcrumb-item"><a href="#">Shop</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Checkout</li>
                    </ol>
                </div><!-- End .container -->
            </nav><!-- End .breadcrumb-nav -->

            <div class="page-content">
                <div class="checkout">
                    <div class="container">
                        <div class="checkout-discount">
                            <form id="takanCoupen">
                                <input type="text" class="form-control" required id="checkout-discount-input">
                                <label for="checkout-discount-input" class="text-truncate">Have a coupon? <span>Click
                                        here to enter your code</span></label>
                                <input type="submit" id="coupenPass" hidden>
                            </form>
                        </div><!-- End .checkout-discount -->



                        <div class="row">
                            <div style="height: fit-content;" class="row col-md-9  " style="gap: 20px;">
                                <% address.forEach((element,index )=> { %>
                                    <div style="height: fit-content;" onchange="selection('<%=index%>')"
                                        class="card col-sm-8  ">
                                        <div class="card-body border border-5  ">
                                            <input type="radio" name="selectedAddress" id="address-<%-index%>"
                                                value="<%=element._id%>">
                                            <h5 class="card-title">
                                                <%=element.firstName%>
                                            </h5>
                                            <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
                                            <p class="card-text">
                                                <%=element.streetName%>(village),<%=element.town%>, <%=element.state %>
                                            </p>
                                            <p class="card-text">
                                                <%=element.country%> ,<%=element.postCode%>
                                            </p>
                                            <p class="card-text">
                                                <%=element.email%>, <%=element.phone%>
                                            </p>


                                        </div>
                                    </div>
                                    <% }) %>


                                        <!-- COLLAPS STARTS FROM HERE -->

                                        <div class="container mt-3">
                                            <button class="btn btn-primary" type="button" data-toggle="collapse"
                                                data-target="#newAddressForm" aria-expanded="false"
                                                aria-controls="newAddressForm">
                                                With new address
                                            </button>

                                            <div class="collapse mt-3" id="newAddressForm">
                                                <div class="card card-body">
                                                    <form id="newAddress" novalidate>
                                                        <div class="col-sm-9">
                                                            <h2 class="checkout-title">New Address</h2>
                                                            <!-- End .checkout-title -->
                                                            <div class="row">
                                                                <div class="col-sm-6">
                                                                    <label for="firstName">First Name *</label>
                                                                    <input type="text" name="firstname"
                                                                        class="form-control" id="firstName">
                                                                    <div class="error-message"></div>
                                                                </div><!-- End .col-sm-6 -->
                                                                <div class="col-sm-6">
                                                                    <label for="lastName">Last Name *</label>
                                                                    <input type="text" name="lastname"
                                                                        class="form-control" id="lastName">
                                                                    <div class="error-message"></div>
                                                                </div><!-- End .col-sm-6 -->
                                                            </div><!-- End .row -->


                                                            <label for="country">Country *</label>
                                                            <input type="text" name="country" class="form-control"
                                                                id="country">
                                                            <div class="error-message"></div>

                                                            <label for="streetAddress1">Street Name *</label>
                                                            <input type="text" name="streetname" class="form-control"
                                                                id="streetAddress1"
                                                                placeholder="House number and Street name">
                                                            <div class="error-message"></div>


                                                            <div class="row">
                                                                <div class="col-sm-6">
                                                                    <label for="city">Town / City *</label>
                                                                    <input type="text" name="town" class="form-control"
                                                                        id="city">
                                                                    <div class="error-message"></div>
                                                                </div><!-- End .col-sm-6 -->
                                                                <div class="col-sm-6">
                                                                    <label for="state">State*</label>
                                                                    <input type="text" name="state" class="form-control"
                                                                        id="state">
                                                                    <div class="error-message"></div>
                                                                </div><!-- End .col-sm-6 -->
                                                            </div><!-- End .row -->

                                                            <div class="row">
                                                                <div class="col-sm-6">
                                                                    <label for="postcode">Postcode / ZIP *</label>
                                                                    <input type="number" name="postcode"
                                                                        class="form-control" id="postcode">
                                                                    <div class="error-message"></div>
                                                                </div><!-- End .col-sm-6 -->
                                                                <div class="col-sm-6">
                                                                    <label for="phone">Phone *</label>
                                                                    <input type="number" name="phone"
                                                                        class="form-control" id="phone">
                                                                    <div class="error-message"></div>
                                                                </div><!-- End .col-sm-6 -->
                                                            </div><!-- End .row -->

                                                            <label for="email">Email address *</label>
                                                            <input type="email" name="mail" class="form-control"
                                                                id="email">
                                                            <div class="error-message"></div>


                                                        </div>

                                                </div>
                                            </div>
                                        </div>

                                        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
                                        <script
                                            src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
                                        <script
                                            src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>




                                        <!-- COLLAPS -->



                            </div><!-- End .col-lg-9 -->
                            <aside class="col-md-3">


                                <div class="pb-2">
                                    <% if(coupen.length>0){ %>


                                        <button type="button" class="btn btn-primary rounded"
                                            onclick="openModal(<%= JSON.stringify(coupen) %>)" id="openModalButton"
                                            data-toggle="modal" data-target="#exampleModal">
                                            Available Coupens
                                        </button>

                                        <% } %>

                                </div>

                                <div class="summary">





                                    <h3 class="summary-title">Your Order</h3><!-- End .summary-title -->




                                    <table id="dataTable" class="table table-summary">

                                        <thead>
                                            <tr>
                                                <th>Product</th>
                                                <th>Total</th>
                                            </tr>

                                        </thead>

                                        <tbody>
                                            <% if(cart){ %>

                                                <% let total=cart.Products.reduce((acc,cur)=>
                                                    acc+cur.productId.offerPrice * cur.quantity,0) %>



                                                    <tr class="summary-subtotal">
                                                        <td>Total:</td>
                                                        <td>₹<span id="totalAmount">
                                                                <%=total+50%>
                                                            </span></td>
                                                        </td>
                                                    </tr>

                                                    <% } %>

                                        </tbody>
                                    </table><!-- End .table table-summary -->
                                    <div>

                                        <div class="font-weight-bold text-dark">
                                            <input type="radio" name="paymentMethod" id="cashondelivery"
                                                value="Cash on delivery" checked>
                                            Cash on delivery
                                        </div>
                                        <div class="font-weight-bold text-dark">
                                            <input type="radio" name="paymentMethod" id="onlinePayment"
                                                value="Online Payment">
                                            Online Payment
                                        </div>
                                        <div class="font-weight-bold text-dark">
                                            <input type="radio" name="paymentMethod" id="wallet" value="wallet">
                                            Wallet
                                        </div>
                                        <input type="hidden" id="walletAmount" value="<%=wallet.balance%>">


                                        <button type="submit" id="placeOrderButton"
                                            class="btn btn-outline-primary-2 btn-order btn-block">
                                            <span class="btn-text">Place Order</span>
                                            <span class="btn-hover-text">Proceed to Checkout</span>
                                        </button>

                                        </form>
                                    </div><!-- End .summary -->
                            </aside><!-- End .col-lg-3 -->
                        </div><!-- End .row -->
                    </div><!-- End .container -->
                </div><!-- End .checkout -->
            </div><!-- End .page-content -->
        </main><!-- End .main -->





        // <!-- The Modal -->
        <div class="modal fade " id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog ">
                <div class="modal-content w-75">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Select an Coupen</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body  " id="modalBody">
                        <!-- Dynamic content will be added here -->
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <!-- <button type="button" class="btn btn-primary" data-dismiss="modal" id="saveButton">Save</button>-->
                    </div>
                </div>
            </div>
        </div>




        <script>

            function openModal(coupen) {
                console.log(coupen)
                console.log(coupen)

                const openModalButton = document.getElementById('openModalButton');
                const modalBody = document.getElementById('modalBody');
                const saveButton = document.getElementById('saveButton');

                modalBody.innerHTML = '';

                console.log('item.offerName')

                coupen.forEach((item, index) => {
                    console.log(item.offerName)
                    const card = document.createElement('div');
                    card.className = 'card';
                    card.innerHTML = `
<div class="card card-sm mb-3 shadow-sm">
    <div class="card-body" id="card-body">
        <h5 class="card-title text-center mb-3" id="card-title"  >${item.coupenName}</h5>
        <div class="d-flex justify-content-center mb-3">
            <div class="input-group input-group-sm w-75">
                <input type="text" class="form-control text-center" value="${item.coupenCode}" id="coupon-code-${item._id}" readonly>
                <button class="btn btn-outline-secondary" type="button" onclick="copyToClipboard('${item.coupenCode}', 'coupon-code-${item._id}')">Copy</button>
            </div>
            <p class="card-text text-center font-weight-bold p-4" id="card-text" >${item.discountPercentage}% off</p>
        </div>
        <p class="card-text text-center font-weight-bold" id="cryteriaAmount" >MInimum purchase Amount : ₹${item.cryteriaAmount}</p>
    </div>
</div>
                    `;
                    modalBody.appendChild(card);
                });


            }

            function copyToClipboard(text) {
                navigator.clipboard.writeText(text).then(() => {
                    alert('Coupon code copied to clipboard');
                }).catch(err => {
                    console.error('Failed to copy text: ', err);
                });
            }




        </script>



        <script>
            // Form validation and submission
            document.getElementById('newAddress').addEventListener('submit', function (event) {
                event.preventDefault();
                const form = event.target;
                let isValid = true;
                console.log('start reached');

                // Clear previous error messages
                form.querySelectorAll('.error-message').forEach(errorDiv => {
                    errorDiv.textContent = '';
                });
                form.querySelectorAll('.is-invalid').forEach(input => {
                    input.classList.remove('is-invalid');
                });

                // Validate each input field
                const inputs = [
                    { id: 'firstName', message: 'First name is required' },
                    { id: 'lastName', message: 'Last name is required' },
                    { id: 'country', message: 'Country is required' },
                    { id: 'streetAddress1', message: 'Street address is required' },
                    { id: 'city', message: 'Town/City is required' },
                    { id: 'state', message: 'State/County is required' },
                    { id: 'postcode', message: 'Postcode/ZIP is required' },
                    { id: 'phone', message: 'Phone number is required' },
                    { id: 'email', message: 'Email address is required' }
                ];

                inputs.forEach(input => {
                    const field = document.getElementById(input.id);
                    if (!field.value.trim()) {
                        isValid = false;
                        const errorDiv = field.nextElementSibling;
                        errorDiv.textContent = input.message;
                        field.classList.add('is-invalid');
                    }
                });

                valid = isValid;

                if (isValid) {
                    // Form submission logic here
                    // alert('Form submitted successfully!');
                }
            });

            // Function for getting selected address's ID from checkbox
            let id;
            function selection(index) {
                id = document.getElementById(`address-${index}`).value;
            }
            let coupenId = undefined
            // Button for placing order
            document.getElementById('placeOrderButton').addEventListener('click', function (event) {
                // event.preventDefault();
                let formData;
                if (id == undefined && valid == true) {
                    formData = document.getElementById('newAddress');
                }

                let form = new FormData(formData);
                let formObject = {};
                for (const [key, value] of form.entries()) {
                    formObject[key] = value;
                }
                const totalAmount = document.getElementById('totalAmount').innerHTML
                const walletAmount = document.getElementById('walletAmount').value
                console.log(walletAmount, 'it is wallset amount')


                const selectedPaymentMethod = document.querySelector('input[name="paymentMethod"]:checked').value;
                console.log(selectedPaymentMethod);

                // Taking table data on the checkout page
                let tableData = [];
                const table = document.getElementById('dataTable');
                const rows = table.getElementsByTagName('tbody')[0].getElementsByTagName('tr');

                for (let i = 0; i < rows.length; i++) {
                    const cells = rows[i].getElementsByTagName('td');
                    let rowData = {
                        item: cells[0].innerText,
                        quantity: cells[1].innerText,
                    };
                    tableData.push(rowData);
                }

                console.log('it is formObjrct', Object.values(formObject).length)

                // If id is undefined, new address will be taken
                if (selectedPaymentMethod == 'Cash on delivery') {
                    handleCashOnDelivery(id, formObject, tableData, coupenId);
                } else if (selectedPaymentMethod == 'Online Payment') {
                    handleOnlinePayment(id, formObject, tableData, coupenId);
                } else if (selectedPaymentMethod == 'wallet') {
                    if (parseInt(totalAmount) <= walletAmount) {

                        handleWalletPayment(id, formObject, tableData)
                    } else {
                        Swal.fire({
                            icon: 'error',
                            title: 'Insufficient Balance',
                            text: 'You do not have enough balance to complete this transaction.',
                            confirmButtonText: 'OK'
                        });
                    }

                }
            });

            function handleCashOnDelivery(id, formObject, tableData, coupenId) {
                console.log(totalAmount.innerText, 'it is total')
                if (id == undefined && Object.values(formObject).length == 0) {


                    Swal.fire({
                        icon: 'error',
                        title: 'Address Selection Required',
                        text: 'Please select an address before proceeding to checkout.',
                        confirmButtonText: 'OK'
                    });

                } else if (parseInt(totalAmount.innerText) > 1000) {
                    Swal.fire({
                        icon: 'error',
                        title: 'Cash on Delivery Limit Notice',
                        text: 'We regret to inform you that orders exceeding ₹1000 are not eligible for cash on delivery.',
                        confirmButtonText: 'OK'
                    });

                } else {





                    if (id == undefined) {
                        let dataToSend = {
                            paymentMethod: 'Cash on delivery',
                            tableData: tableData,
                            formData: formObject,
                            coupenId: coupenId

                        };
                        console.log(dataToSend);
                        axios.post('/placeOrder', dataToSend)
                            .then(response => {
                                const data = response.data.codSuccess;
                                if (data) {
                                    window.location.href = `/orderPlaced/${response.data.orderId}`;
                                }
                            })
                            .catch(error => {
                                console.log(error);
                            });
                    } else {
                        let dataToSend = {
                            paymentMethod: 'Cash on delivery',
                            tableData: tableData,
                            addressId: id,
                            coupenId: coupenId

                        };
                        axios.post('/placeOrder', dataToSend)
                            .then(response => {
                                const data = response.data.codSuccess;
                                if (data) {
                                    window.location.href = `/orderPlaced/${response.data.orderId}`;
                                } else {
                                    Swal.fire({
                                        position: "top-end",
                                        icon: "error",
                                        title: "Currently this method is not working",
                                        showConfirmButton: false,
                                        timer: 1500
                                    });
                                }
                            })
                            .catch(error => {
                                console.log(error);
                            });
                    }
                }
            }

            function handleOnlinePayment(id, formObject, tableData, coupenId) {

                if (id == undefined && Object.values(formObject).length == 0) {


                    Swal.fire({
                        icon: 'error',
                        title: 'Address Selection Required',
                        text: 'Please select an address before proceeding to checkout.',
                        confirmButtonText: 'OK'
                    });

                } else {


                    if (id == undefined) {
                        console.log(formObject, 'it is formObject')
                        let dataToSend = {
                            paymentMethod: 'Online Payment',
                            tableData: tableData,
                            formData: formObject,
                            coupenId: coupenId

                        };
                        console.log('it is formdata,axos')
                        axios.post('/placeOrder', dataToSend)
                            .then(response => {
                                console.log(response.data.orderData, 'it is formdata')
                                razorpayPayment(response.data.order, response.data.orderData);
                            })
                            .catch(error => {
                                console.log(error);
                            });
                    } else if (Object.values(formObject).length == 0) {
                        console.log('it is elselsldkfjcl')

                        let dataToSend = {
                            paymentMethod: 'Online Payment',
                            tableData: tableData,
                            addressId: id,
                            coupenId: coupenId
                        };
                        axios.post('/placeOrder', dataToSend)
                            .then(response => {
                                console.log('here is reached')
                                razorpayPayment(response.data.order, response.data.orderData);
                            })
                            .catch(error => {
                                console.log(error);
                            });
                    }

                }
            }


            function handleWalletPayment(id, formObject, tableData, coupenId) {

                if (id == undefined && Object.values(formObject).length == 0) {


                    Swal.fire({
                        icon: 'error',
                        title: 'Address Selection Required',
                        text: 'Please select an address before proceeding to checkout.',
                        confirmButtonText: 'OK'
                    });

                } else {



                    if (id == undefined) {
                        let dataToSend = {
                            paymentMethod: 'Wallet',
                            tableData: tableData,
                            formData: formObject,
                            coupenId: coupenId
                        };
                        console.log('it is formdata')
                        axios.post('/placeOrder', dataToSend)
                            .then(response => {
                                if (response.data.Success) {
                                    window.location.href = `/orderPlaced/${response.data.orderId}`
                                }

                            })
                            .catch(error => {
                                console.log(error);
                            });
                    } else {
                        let dataToSend = {
                            paymentMethod: 'Wallet',
                            tableData: tableData,
                            addressId: id,
                            coupenId: coupenId
                        };
                        axios.post('/placeOrder', dataToSend)
                            .then(response => {
                                if (response.data.Success) {
                                    window.location.href = `/orderPlaced/${response.data.orderId}`
                                }

                            })
                            .catch(error => {
                                console.log(error);
                            });
                    }

                }
            }


            function razorpayPayment(order, orderData) {
                console.log("here is reached, razorpayPayment");
                var options = {
                    "key": "rzp_test_m31KrIXyLXS9oV", // Enter the Key ID generated from the Dashboard
                    "amount": order.amount, // Amount is in currency subunits. Multiply by 100 for paise if order.amount is in INR
                    "currency": "INR",
                    "name": "Furmicon", // Your business name
                    "description": "Quality is never compromised",
                    "order_id": order.id, // This is a sample Order ID. Pass the id obtained in the response of Step 1
                    "handler": function (response) {
                        console.log("Payment successful. Response:", response);

                        const data = {
                            response,
                            order,
                            orderData

                        };

                        axios.post('/verifyPayment', data)
                            .then(response => {
                                if (response.data.Success) {
                                    window.location.href = `orderPlaced/${response.data.orderId}`
                                }
                            })
                            .catch(error => {
                                console.log("Verification error:", error);
                            });
                    },
                    "prefill": { // We recommend using the prefill parameter to auto-fill customer's contact information especially their phone number
                        "name": "Gaurav Kumar", // Your customer's name
                        "email": "gaurav.kumar@example.com",
                        "contact": "9000090000" // Provide the customer's phone number for better conversion rates 
                    },
                    "notes": {
                        "address": "Razorpay Corporate Office"
                    },
                    "theme": {
                        "color": "#3399cc"
                    }
                };

                // Initialize Razorpay payment
                var rzp1 = new Razorpay(options);

                // Add error handling for payment failure
                rzp1.on('payment.failed', function (response) {
                    console.log("Payment failed. Response:", response.error);
                    alert(`Payment failed: ${response.error.description}`);
                });

                rzp1.open();
            }

        </script>



        <script>
            //coupen script
            document.getElementById('coupenPass').addEventListener('click', function (event) {
                event.preventDefault()
                let coupenCode = document.getElementById('checkout-discount-input').value
                console.log(coupenCode, 'it is coupencode')

                if (coupenCode) {

                    axios.get(`/accessCoupon/?coupencode=${coupenCode}`)
                        .then(response => {
                            if (response.data.matchingCode) {
                                let matchingCode = response.data.matchingCode
                                let currentAmount = parseInt(totalAmount.innerText)


                                if (matchingCode[0].cryteriaAmount < currentAmount) {
                                    let coupenedvalue = currentAmount - ((matchingCode[0].discountPercentage * currentAmount) / 100)
                                    coupenId = matchingCode[0]._id


                                    document.getElementById('totalAmount').innerHTML = parseInt(coupenedvalue)

                                } else {

                                    Swal.fire({
                                        icon: 'error',
                                        title: 'Insufficient Amount',
                                        text: "The minimum amount required for the discount has not been met.",
                                        confirmButtonText: 'OK'
                                    });


                                }



                            } else if (response.data.status == false) {
                                Swal.fire({
                                    icon: 'error',
                                    title: 'Coupon Code Unavailable',
                                    text: "We are unable to find this coupon code.",
                                    confirmButtonText: 'OK'
                                });

                            }
                        })
                        .catch(error => {
                            console.log(error)
                        })
                }
            })


        </script>










        <!-- Plugins JS File -->
        <script src="assets/js/jquery.min.js"></script>
        <script src="assets/js/bootstrap.bundle.min.js"></script>
        <script src="assets/js/jquery.hoverIntent.min.js"></script>
        <script src="assets/js/jquery.waypoints.min.js"></script>
        <script src="assets/js/superfish.min.js"></script>
        <script src="assets/js/owl.carousel.min.js"></script>
        <!-- Main JS File -->
        <script src="assets/js/main.js"></script>




        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>






        <footer class="footer">
            <div class="footer-middle">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 col-lg-3">
                            <div class="widget widget-about">
                                <h3 class="nav-link  border border-dark  " style="color: #c96;">FurniFusion</h3>
                                height="25">
                                <p>Praesent dapibus, neque id cursus ucibus, tortor neque egestas augue, eu vulputate
                                    magna eros eu erat. </p>

                                <div class="social-icons">
                                    <a href="#" class="social-icon" target="_blank" title="Facebook"><i
                                            class="icon-facebook-f"></i></a>
                                    <a href="#" class="social-icon" target="_blank" title="Twitter"><i
                                            class="icon-twitter"></i></a>
                                    <a href="#" class="social-icon" target="_blank" title="Instagram"><i
                                            class="icon-instagram"></i></a>
                                    <a href="#" class="social-icon" target="_blank" title="Youtube"><i
                                            class="icon-youtube"></i></a>
                                    <a href="#" class="social-icon" target="_blank" title="Pinterest"><i
                                            class="icon-pinterest"></i></a>
                                </div><!-- End .soial-icons -->
                            </div><!-- End .widget about-widget -->
                        </div><!-- End .col-sm-6 col-lg-3 -->

                        <div class="col-sm-6 col-lg-3">
                            <div class="widget">
                                <h4 class="widget-title">Useful Links</h4><!-- End .widget-title -->

                                <ul class="widget-list">
                                    <li><a href="about.html">About Molla</a></li>
                                    <li><a href="#">How to shop on Molla</a></li>
                                    <li><a href="#">FAQ</a></li>
                                    <li><a href="contact.html">Contact us</a></li>
                                    <li><a href="login.html">Log in</a></li>
                                </ul><!-- End .widget-list -->
                            </div><!-- End .widget -->
                        </div><!-- End .col-sm-6 col-lg-3 -->

                        <div class="col-sm-6 col-lg-3">
                            <div class="widget">
                                <h4 class="widget-title">Customer Service</h4><!-- End .widget-title -->

                                <ul class="widget-list">
                                    <li><a href="#">Payment Methods</a></li>
                                    <li><a href="#">Money-back guarantee!</a></li>
                                    <li><a href="#">Returns</a></li>
                                    <li><a href="#">Shipping</a></li>
                                    <li><a href="#">Terms and conditions</a></li>
                                    <li><a href="#">Privacy Policy</a></li>
                                </ul><!-- End .widget-list -->
                            </div><!-- End .widget -->
                        </div><!-- End .col-sm-6 col-lg-3 -->

                        <div class="col-sm-6 col-lg-3">
                            <div class="widget">
                                <h4 class="widget-title">My Account</h4><!-- End .widget-title -->

                                <ul class="widget-list">
                                    <li><a href="#">Sign In</a></li>
                                    <li><a href="cart.html">View Cart</a></li>
                                    <li><a href="#">My Wishlist</a></li>
                                    <li><a href="#">Track My Order</a></li>
                                    <li><a href="#">Help</a></li>
                                </ul><!-- End .widget-list -->
                            </div><!-- End .widget -->
                        </div><!-- End .col-sm-6 col-lg-3 -->
                    </div><!-- End .row -->
                </div><!-- End .container -->
            </div><!-- End .footer-middle -->

            <div class="footer-bottom">
                <div class="container">
                    <p class="footer-copyright">Copyright © 2019 Molla Store. All Rights Reserved.</p>
                    <!-- End .footer-copyright -->
                    <figure class="footer-payments">
                        <img src="assets/images/payments.png" alt="Payment methods" width="272" height="20">
                    </figure><!-- End .footer-payments -->
                </div><!-- End .container -->
            </div><!-- End .footer-bottom -->
        </footer><!-- End .footer -->
    </div><!-- End .page-wrapper -->
    <button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>

    <!-- Mobile Menu -->
    <div class="mobile-menu-overlay"></div><!-- End .mobil-menu-overlay -->

    <div class="mobile-menu-container">
        <div class="mobile-menu-wrapper">
            <span class="mobile-menu-close"><i class="icon-close"></i></span>

            <form action="#" method="get" class="mobile-search">
                <label for="mobile-search" class="sr-only">Search</label>
                <input type="search" class="form-control" name="mobile-search" id="mobile-search"
                    placeholder="Search in..." required>
                <button class="btn btn-primary" type="submit"><i class="icon-search"></i></button>
            </form>

            <nav class="mobile-nav">
                <ul class="mobile-menu">
                    <li class="active">
                        <a href="index.html">Home</a>

                        <ul>
                            <li><a href="index-1.html">01 - furniture store</a></li>
                            <li><a href="index-2.html">02 - furniture store</a></li>
                            <li><a href="index-3.html">03 - electronic store</a></li>
                            <li><a href="index-4.html">04 - electronic store</a></li>
                            <li><a href="index-5.html">05 - fashion store</a></li>
                            <li><a href="index-6.html">06 - fashion store</a></li>
                            <li><a href="index-7.html">07 - fashion store</a></li>
                            <li><a href="index-8.html">08 - fashion store</a></li>
                            <li><a href="index-9.html">09 - fashion store</a></li>
                            <li><a href="index-10.html">10 - shoes store</a></li>
                            <li><a href="index-11.html">11 - furniture simple store</a></li>
                            <li><a href="index-12.html">12 - fashion simple store</a></li>
                            <li><a href="index-13.html">13 - market</a></li>
                            <li><a href="index-14.html">14 - market fullwidth</a></li>
                            <li><a href="index-15.html">15 - lookbook 1</a></li>
                            <li><a href="index-16.html">16 - lookbook 2</a></li>
                            <li><a href="index-17.html">17 - fashion store</a></li>
                            <li><a href="index-18.html">18 - fashion store (with sidebar)</a></li>
                            <li><a href="index-19.html">19 - games store</a></li>
                            <li><a href="index-20.html">20 - book store</a></li>
                            <li><a href="index-21.html">21 - sport store</a></li>
                            <li><a href="index-22.html">22 - tools store</a></li>
                            <li><a href="index-23.html">23 - fashion left navigation store</a></li>
                            <li><a href="index-24.html">24 - extreme sport store</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="category.html">Shop</a>
                        <ul>
                            <li><a href="category-list.html">Shop List</a></li>
                            <li><a href="category-2cols.html">Shop Grid 2 Columns</a></li>
                            <li><a href="category.html">Shop Grid 3 Columns</a></li>
                            <li><a href="category-4cols.html">Shop Grid 4 Columns</a></li>
                            <li><a href="category-boxed.html"><span>Shop Boxed No Sidebar<span
                                            class="tip tip-hot">Hot</span></span></a></li>
                            <li><a href="category-fullwidth.html">Shop Fullwidth No Sidebar</a></li>
                            <li><a href="product-category-boxed.html">Product Category Boxed</a></li>
                            <li><a href="product-category-fullwidth.html"><span>Product Category Fullwidth<span
                                            class="tip tip-new">New</span></span></a></li>
                            <li><a href="cart.html">Cart</a></li>
                            <li><a href="checkout.html">Checkout</a></li>
                            <li><a href="wishlist.html">Wishlist</a></li>
                            <li><a href="#">Lookbook</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="product.html" class="sf-with-ul">Product</a>
                        <ul>
                            <li><a href="product.html">Default</a></li>
                            <li><a href="product-centered.html">Centered</a></li>
                            <li><a href="product-extended.html"><span>Extended Info<span
                                            class="tip tip-new">New</span></span></a></li>
                            <li><a href="product-gallery.html">Gallery</a></li>
                            <li><a href="product-sticky.html">Sticky Info</a></li>
                            <li><a href="product-sidebar.html">Boxed With Sidebar</a></li>
                            <li><a href="product-fullwidth.html">Full Width</a></li>
                            <li><a href="product-masonry.html">Masonry Sticky Info</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Pages</a>
                        <ul>
                            <li>
                                <a href="about.html">About</a>

                                <ul>
                                    <li><a href="about.html">About 01</a></li>
                                    <li><a href="about-2.html">About 02</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="contact.html">Contact</a>

                                <ul>
                                    <li><a href="contact.html">Contact 01</a></li>
                                    <li><a href="contact-2.html">Contact 02</a></li>
                                </ul>
                            </li>
                            <li><a href="login.html">Login</a></li>
                            <li><a href="faq.html">FAQs</a></li>
                            <li><a href="404.html">Error 404</a></li>
                            <li><a href="coming-soon.html">Coming Soon</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="blog.html">Blog</a>

                        <ul>
                            <li><a href="blog.html">Classic</a></li>
                            <li><a href="blog-listing.html">Listing</a></li>
                            <li>
                                <a href="#">Grid</a>
                                <ul>
                                    <li><a href="blog-grid-2cols.html">Grid 2 columns</a></li>
                                    <li><a href="blog-grid-3cols.html">Grid 3 columns</a></li>
                                    <li><a href="blog-grid-4cols.html">Grid 4 columns</a></li>
                                    <li><a href="blog-grid-sidebar.html">Grid sidebar</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">Masonry</a>
                                <ul>
                                    <li><a href="blog-masonry-2cols.html">Masonry 2 columns</a></li>
                                    <li><a href="blog-masonry-3cols.html">Masonry 3 columns</a></li>
                                    <li><a href="blog-masonry-4cols.html">Masonry 4 columns</a></li>
                                    <li><a href="blog-masonry-sidebar.html">Masonry sidebar</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">Mask</a>
                                <ul>
                                    <li><a href="blog-mask-grid.html">Blog mask grid</a></li>
                                    <li><a href="blog-mask-masonry.html">Blog mask masonry</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">Single Post</a>
                                <ul>
                                    <li><a href="single.html">Default with sidebar</a></li>
                                    <li><a href="single-fullwidth.html">Fullwidth no sidebar</a></li>
                                    <li><a href="single-fullwidth-sidebar.html">Fullwidth with sidebar</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="elements-list.html">Elements</a>
                        <ul>
                            <li><a href="elements-products.html">Products</a></li>
                            <li><a href="elements-typography.html">Typography</a></li>
                            <li><a href="elements-titles.html">Titles</a></li>
                            <li><a href="elements-banners.html">Banners</a></li>
                            <li><a href="elements-product-category.html">Product Category</a></li>
                            <li><a href="elements-video-banners.html">Video Banners</a></li>
                            <li><a href="elements-buttons.html">Buttons</a></li>
                            <li><a href="elements-accordions.html">Accordions</a></li>
                            <li><a href="elements-tabs.html">Tabs</a></li>
                            <li><a href="elements-testimonials.html">Testimonials</a></li>
                            <li><a href="elements-blog-posts.html">Blog Posts</a></li>
                            <li><a href="elements-portfolio.html">Portfolio</a></li>
                            <li><a href="elements-cta.html">Call to Action</a></li>
                            <li><a href="elements-icon-boxes.html">Icon Boxes</a></li>
                        </ul>
                    </li>
                </ul>
            </nav><!-- End .mobile-nav -->

            <div class="social-icons">
                <a href="#" class="social-icon" target="_blank" title="Facebook"><i class="icon-facebook-f"></i></a>
                <a href="#" class="social-icon" target="_blank" title="Twitter"><i class="icon-twitter"></i></a>
                <a href="#" class="social-icon" target="_blank" title="Instagram"><i class="icon-instagram"></i></a>
                <a href="#" class="social-icon" target="_blank" title="Youtube"><i class="icon-youtube"></i></a>
            </div><!-- End .social-icons -->
        </div><!-- End .mobile-menu-wrapper -->
    </div><!-- End .mobile-menu-container -->



    <!-- Plugins JS File -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/jquery.hoverIntent.min.js"></script>
    <script src="assets/js/jquery.waypoints.min.js"></script>
    <script src="assets/js/superfish.min.js"></script>
    <script src="assets/js/owl.carousel.min.js"></script>
    <!-- Main JS File -->
    <script src="assets/js/main.js"></script>




</body>


<!-- molla/checkout.html  22 Nov 2019 09:55:06 GMT -->

</html>